<div class="flex gap-2">
  <button
    type="button"
    mat-flat-button
    color="primary"
    (click)="loadDeviceLayoutAndChordsFromDevice()"
  >
    {{ "general.load-device-layout-and-chords-from-device" | translate }}
  </button>
  @if (isDevMode) {
    <button mat-flat-button color="primary" (click)="openFileSelectionDialog()">
      {{ "chords-page.load-chords-from-file-button" | translate }}
    </button>
    <input
      #fileInput
      class="hidden"
      type="file"
      accept=".json"
      [attr.aria-label]="'chords-page.file-input-aria-label' | translate"
      (change)="onFileInputChange()"
    />
  }
</div>
<ag-grid-angular
  class="flex-1"
  [theme]="tableTheme"
  [rowData]="chordDataListWithLabelStateAndStatistic()"
  [columnDefs]="colDefs"
  [localeText]="localeText()"
  [rowSelection]="rowSelection"
  [getRowId]="getRowId"
  [headerHeight]="40"
  (selectionChanged)="onSelectionChanged($event)"
/>
