@for (sector of sectors; track sector) {
  <svg:g
    appSwitchSector
    [center]="center()"
    [degree]="sector.degree + r()"
    [direction]="rotationDirection()"
    [positionCode]="positionCodeMap()[sector.direction]"
    [keyLabel]="keyLabelMap()[positionCodeMap()[sector.direction]]"
    [highlightPositionCodes]="highlightPositionCodes()"
    [strokeWidth]="strokeWidth()"
    [highlightOpacity]="highlightOpacity()"
    [fontSize]="fontSize()"
  ></svg:g>
}
<svg:circle
  class="fill-chara-500 print:fill-black"
  [attr.cx]="center().x"
  [attr.cy]="center().y"
  [attr.r]="53.68"
  [attr.opacity]="
    highlightPositionCodes().includes(positionCodeMap().c)
      ? highlightOpacity()
      : 0
  "
></svg:circle>
