$primary-map: (
  50: #fffde5,
  100: #fff9c0,
  200: #fff595,
  300: #fef167,
  400: #fcec3f,
  500: #fae700,
  600: #ffd900,
  700: #ffc000,
  800: #ffa700,
  900: #fe7a00,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
  )
);
$accent-map: (
  50 : #fef2f2,
  100 : #fee2e2,
  200 : #fecaca,
  300 : #fca5a5,
  400 : #f87171,
  500 : #ef4444,
  600 : #dc2626,
  700 : #b91c1c,
  800 : #991b1b,
  900 : #991b1b,
  A100 : #ffffff,
  A200 : #ffe7e7,
  A400 : #ffb4b4,
  A700 : #ff9b9b,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ))
