$primary-map: (
  50 : #e2fcff,
  100 : #b7f8fe,
  200 : #87f4fd,
  300 : #57effc,
  400 : #33ebfc,
  500 : #0fe8fb,
  600 : #0de5fa,
  700 : #0be2fa,
  800 : #08def9,
  900 : #04d8f8,
  A100 : #ffffff,
  A200 : #ebfcff,
  A400 : #b8f5ff,
  A700 : #9ff1ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$accent-map: (
  50 : #fef2f2,
  100 : #fee2e2,
  200 : #fecaca,
  300 : #fca5a5,
  400 : #f87171,
  500 : #ef4444,
  600 : #dc2626,
  700 : #b91c1c,
  800 : #991b1b,
  900 : #991b1b,
  A100 : #ffffff,
  A200 : #ffe7e7,
  A400 : #ffb4b4,
  A700 : #ff9b9b,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ))
